<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% if (typeof title !== 'undefined') { %>
    <title><%= title %></title>
    <% } else { %>
    <title>Desempregados</title>
    <% } %> <% if (typeof icon !== 'undefined') { %>
    <link rel="icon" href="<%= icon %>" type="image/x-icon" />
    <% } else { %>
    <link
      rel="shortcut icon"
      href="img/carteira-trabalho.png"
      type="image/x-icon"
    />
    <% } %>

    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main class="container mt-4"><%- body %></main>
    <%- include('../partials/footer') %>
    <script src="/bootstrap/bootstrap.bundle.js"></script>
  </body>
</html>
