<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- rendering dynamic title -->
    <% if (typeof title !== 'undefined') { %>
    <title><%= title %></title>
    <% } else { %>
    <title>Desempregados</title>
    <% } %>

    <!-- rendering dynamic icon -->
    <% if (typeof icon !== 'undefined') { %>
    <link rel="icon" href="<%= icon %>" type="image/x-icon" />
    <% } else { %>
    <link
      rel="shortcut icon"
      href="/img/carteira-trabalho.png"
      type="image/x-icon"
    />
    <% } %>

    <!-- rendering dynamic css stylesheet -->
    <% if(typeof styles !== 'undefined') { for (let style of styles) { %>
    <link rel="stylesheet" href="<%= style %>" />
    <% } } %>

    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <!-- <main> -->
    <%- body %>
    <!-- </main> -->
    <%- include('../partials/footer') %>
    <script src="/bootstrap/bootstrap.bundle.js"></script>
  </body>
</html>
