<%- layout("../layouts/boilerplate") %>

<main class="container py-5">
  <h1 class="mb-3">Editar página de carreira</h1>
  <form
    action="/api/careerPages/<%= careerPage._id %>?_method=PUT"
    method="POST"
    enctype="multipart/form-data"
    class="mx-4"
  >
    <div id="career-option" class="mb-3">
      <div class="d-flex align-items-center">
        <h2 class="me-3">Carreira</h2>
        <div class="input-group">
          <select required name="career" id="career" class="form-select">
            <option value="" hidden>Escolha uma opção...</option>
            <% careers.forEach(career => { %>
            <option
              value="<%= career.name %>"
              <%= career.name === careerPage.career.name ? 'selected' : '' %>
            >
              <%= career.name %>
            </option>
            <% }); %>
          </select>
        </div>
      </div>
    </div>
    <div id="header" class="mb-3">
      <h2>Cabeçalho</h2>
      <div class="input-group mx-3">
        <label for="title" class="input-group-text">Título</label>
        <input
          type="text"
          class="form-control"
          name="header[title]"
          id="title"
          value="<%= careerPage.header.title %>"
        />
      </div>
      <div class="input-group mx-3">
        <label for="subtitle" class="input-group-text">Subtítulo</label>
        <input
          required
          type="text"
          class="form-control"
          name="header[subtitle]"
          id="subtitle"
          value="<%= careerPage.header.subtitle %>"
        />
      </div>
    </div>
    <div id="introduction" class="mb-3">
      <h2>Introdução</h2>
      <div class="input-group mx-3">
        <label for="introduction" class="input-group-text">Texto</label>
        <textarea
          required
          name="introduction[text]"
          id="introduction"
          class="form-control"
          rows="3"
        ><%= careerPage.introduction.text %></textarea
        >
      </div>
    </div>
    <div id="education-and-skills" class="mb-3">
      <div class="mb-2">
        <h2>Educação e Habilidades</h2>
        <div class="input-group mx-3">
          <label for="education-and-skills-text" class="input-group-text"
            >Texto (not required)</label
          >
          <textarea
            name="educationAndSkills[text]"
            id="education-and-skills-text"
            class="form-control"
            rows="3"
          ><%= careerPage.educationAndSkills.text %></textarea
          >
        </div>
      </div>
      <div id="points" class="mx-3">
        <div id="point-1" class="mb-2">
          <h3>Ponto 1</h3>
          <div class="mx-3">
            <div class="input-group">
              <label for="point-1-title" class="input-group-text">Título</label>
              <input
                required
                type="text"
                class="form-control"
                name="educationAndSkills[points][0][title]"
                id="point-1-title"
                value="<%= careerPage.educationAndSkills.points[0].title %>"
              />
            </div>
            <div class="input-group">
              <label for="point-1-text" class="input-group-text">Texto</label>
              <textarea
                required
                name="educationAndSkills[points][0][text]"
                id="point-1-text"
                class="form-control"
              ><%= careerPage.educationAndSkills.points[0].text %></textarea
              >
            </div>
          </div>
        </div>
        <div id="point-2" class="mb-2">
          <h3>Ponto 2</h3>
          <div class="mx-3">
            <div class="input-group">
              <label for="point-2-title" class="input-group-text">Título</label>
              <input
                required
                type="text"
                class="form-control"
                name="educationAndSkills[points][1][title]"
                id="point-2-title"
                value="<%= careerPage.educationAndSkills.points[1]?.title %>"
              />
            </div>
            <div class="input-group">
              <label for="point-2-text" class="input-group-text">Texto</label>
              <textarea
                required
                name="educationAndSkills[points][1][text]"
                id="point-2-text"
                class="form-control"
              ><%= careerPage.educationAndSkills.points[1]?.text %></textarea
              >
            </div>
          </div>
        </div>
        <div id="point-3" class="mb-2">
          <h3>Ponto 3</h3>
          <div class="mx-3">
            <div class="input-group">
              <label for="point-3-title" class="input-group-text">Título</label>
              <input
                required
                type="text"
                class="form-control"
                name="educationAndSkills[points][2][title]"
                id="point-3-title"
                value="<%= careerPage.educationAndSkills.points[2]?.title %>"
              />
            </div>
            <div class="input-group">
              <label for="point-3-text" class="input-group-text">Texto</label>
              <textarea
                required
                name="educationAndSkills[points][2][text]"
                id="point-3-text"
                class="form-control"
              ><%= careerPage.educationAndSkills.points[1]?.text %></textarea
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="career-opportunities" class="mb-3">
      <h2>Oportunidades de Carreira</h2>
      <div class="input-group mx-3">
        <label for="career-opportunities-text" class="input-group-text"
          >Texto</label
        >
        <textarea
          required
          name="careerOpportunities[text]"
          id="career-opportunities-text"
          class="form-control"
        ><%= careerPage.careerOpportunities.text %></textarea
        >
      </div>
    </div>
    <div id="future-tendencies" class="mb-3">
      <h2>Tendências Futuras</h2>
      <div class="input-group mx-3">
        <label for="future-tendencies-text" class="input-group-text"
          >Texto</label
        ><textarea
          required
          name="futureTendencies[text]"
          id="future-tendencies-text"
          rows="3"
          class="form-control"
        ><%= careerPage.futureTendencies.text %></textarea
        >
      </div>
    </div>
    <div id="challenges-and-rewards" class="mb-3">
      <h2>Desafios e Recompensas</h2>
      <div class="input-group mx-3">
        <label for="challenges-and-rewards-text" class="input-group-text"
          >Texto</label
        >
        <textarea
          required
          name="challengesAndRewards[text]"
          id="challenges-and-rewards-text"
          class="form-control"
        ><%= careerPage.challengesAndRewards.text %></textarea
        >
      </div>
    </div>
    <div id="conclusion" class="mb-3">
      <h2>Conclusão</h2>
      <div class="input-group mx-3">
        <label for="conclusion-text" class="input-group-text">Conclusão</label>
        <textarea
          required
          name="conclusion[text]"
          id="conclusion-text"
          class="form-control"
        ><%= careerPage.conclusion.text %></textarea
        >
      </div>
    </div>
    <div id="tags" class="mb-3">
      <h2 class="mb-3">Tags</h2>
      <div id="added-tags-div" class="mb-3">
        <% if(careerPage.tags.length > 0) { careerPage.tags.forEach(tag => { %>
        <button class="btn btn-sm btn-outline-dark me-2" type="button">
          <%= tag %><i class="bi bi-x ms-1"></i>
        </button>
        <input type="hidden" name="tags[]" value="<%= tag %>" />
        <% }) } %>
      </div>
      <button type="button" id="add-tag-btn" class="btn btn-primary btn-sm">
        Adicionar
      </button>
      <div id="tag-toggler" class="input-group w-50" style="display: none">
        <input
          type="text"
          id="tag-input"
          class="form-control"
          placeholder="Insira uma tag"
        />
        <button
          type="button"
          id="confirm-tag-btn"
          class="btn btn-success btn-sm"
        >
          Adicionar
        </button>
      </div>
    </div>
    <div id="images" class="mb-3">
      <h2>Imagens</h2>
      <div class="row mx-3">
        <div id="img-1" class="card col-12 col-md-4 mb-2 mb-md-0">
          <div class="card-header border rounded-top text-center">
            Principal
          </div>
          <label
            class="image-label border"
            for="header-image"
            style="background-image: url('<%= careerPage.header.image.url %>')"
          >
          </label>
          <input
            
            id="header-image"
            name="header-image"
            type="file"
            accept="image/*"
            class="image-input d-none"
          />
          <input
            required
            type="text"
            class="form-control rounded-0 rounded-bottom"
            name="header[image][subtitle]"
            placeholder="Legenda"
            value="<%= careerPage.header.image.subtitle %>"
          />
        </div>
        <div id="img-2" class="card col-12 col-md-4 mb-2 mb-md-0">
          <div class="card-header border rounded-top text-center">
            Educação e Habilidades
          </div>
          <label
            class="image-label border"
            for="education-and-skills-image"
            style="
              background-image: url('<%= careerPage.educationAndSkills.image.url %>');
            "
          >
          </label>
          <input
            
            id="education-and-skills-image"
            name="education-and-skills-image"
            type="file"
            accept="image/*"
            class="image-input d-none"
          />
          <input
            required
            type="text"
            class="form-control rounded-0 rounded-bottom"
            name="educationAndSkills[image][subtitle]"
            placeholder="Legenda"
            value="<%= careerPage.educationAndSkills.image.subtitle %>"
          />
        </div>
        <div id="img-3" class="card col-12 col-md-4 mb-2 mb-md-0">
          <div class="card-header border rounded-top text-center">
            Desafios e Recompensas
          </div>
          <label
            class="image-label border"
            for="challenges-and-rewards-image"
            style="
              background-image: url('<%= careerPage.challengesAndRewards.image.url %>');
            "
          >
          </label>
          <input
            
            id="challenges-and-rewards-image"
            name="challenges-and-rewards-image"
            type="file"
            accept="image/*"
            class="image-input d-none"
          />
          <input
            required
            type="text"
            class="form-control rounded-0 rounded-bottom"
            name="challengesAndRewards[image][subtitle]"
            placeholder="Legenda"
            value="<%= careerPage.challengesAndRewards.image.subtitle %>"
          />
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success ms-2 float-end btn-sm">
      <i class="bi bi-check2 me-2"></i>Salvar
    </button>
  </form>

  <div class="text-center">
    <a href="/carreiras" class="btn btn-primary btn-sm"
      ><i class="bi bi-suitcase-lg me-2"></i>Carreiras</a
    >
    <a
      href="/carreiras/<%= careerPage.career.name.toLowerCase() %>/<%= careerPage._id %>"
      class="btn btn-secondary btn-sm"
      ><i class="bi bi-file-earmark me-2"></i>Voltar à página</a
    >
  </div>
</main>
