<%- layout("../layouts/boilerplate") %>

<!-- modal content -->
<div
  id="modal"
  class="modal"
  style="display: <%= showModal ? 'block' : 'none' %>"
>
  <div class="modal-content">
    <span id="closeModalBtn" class="close">&times;</span>
    <h2 class="mb-4">Adicionar nova carreira</h2>
    <form action="/api/careers" method="POST">
      <div class="input-group">
        <input
          id="career-input"
          type="text"
          name="name"
          placeholder="Nome"
          class="form-control"
          required
        />
        <button type="submit" class="btn btn-success float-end">
          <i class="bi bi-check-lg me-1"></i>Salvar
        </button>
      </div>
    </form>
  </div>
</div>

<main class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="d-inline-block">Carreiras</h1>
    <button id="openModalBtn" class="btn btn-success ms-2">
      <i class="bi bi-patch-plus me-2"></i>Nova carreira*
    </button>
  </div>
  <div class="container row mb-3">
    <% for (let i = 0; i < careers.length; i++) { if(careers[i] !== 'index') {
    %>
    <div class="col-md-6 col-lg-4 career-card mb-3">
      <div class="card card-body">
        <h2 class="card-title"><%= careers[i].name %></h2>
        <% if(careers[i].pages.length > 0) { %>
        <img
          src="<%= careers[i].pages[0]?.header.image.url %>"
          alt="career card image"
          style="height: 12em"
          class="card-img"
        />
        <% } %>
        <p class="card-text"><%= careers[i].pages[0]?.header.subtitle %></p>
        <div>
          <a
            href="<%= careers[i].pages.length > 1 ? `/carreiras/${formatCareerName(careers[i].name)}/${formatCareerName(careers[i].pages[0]._id)}` : `/carreiras/${formatCareerName(careers[i].name)}` %>"
            class="btn btn-sm btn-primary"
            >Ver mais</a
          >
          <% if (careers[i].pages.length > 1) { %>
          <a
            href="/carreiras/<%= formatCareerName(careers[i].name) %>"
            class="btn btn-sm btn-secondary"
            >Todas as páginas</a
          >
          <% } %>
        </div>
      </div>
    </div>

    <% } } %>
  </div>
</main>
