<%- layout("../layouts/boilerplate") %>

<main class="container py-5">
  <h1><%= career.name %></h1>
  <ul>
    <% if(careerPages.length === 0) { %>
    <li>
      <p class="text-muted">
        Não há páginas de carreiras disponíveis no momento.
      </p>
    </li>
    <% } else { %> <% careerPages.forEach(page => { %>
    <li>
      <a href="/carreiras<%= currentPath %>/<%= page._id %>"
        ><%= page.header.title %></a
      >
    </li>
    <% }) } %>
  </ul>

  <div>
    <a href="/carreiras" class="btn btn-sm btn-primary me-2"
      ><i class="bi bi-suitcase-lg me-2"></i>Carreiras</a
    >
    <!-- make it visible only to admin -->
    <a href="/carreiras/adicionar"
      ><button class="btn btn-sm btn-success">
        <i class="bi bi-plus-circle me-2"></i>Adicionar*
      </button></a
    >
  </div>
</main>
