<%- layout("../layouts/boilerplate") %>

<main class="container py-5">
  <header class="article-header">
    <h1><%= careerPage.header.title %></h1>
    <p class="text-muted"><%= careerPage.header.subtitle %></p>
    <img src="<%= careerPage.header.image.url %>" alt="" />
    <p class="img-subtitle"><%= careerPage.header.image.subtitle %></p>
  </header>
  <article class="article-body">
    <section>
      <h2>Introdução</h2>
      <p><%= careerPage.introduction.text %></p>
    </section>
    <section>
      <h2>Educação e Habilidades</h2>
      <div class="row">
        <div class="col-lg-6 col-xl-8">
          <p><%= careerPage.educationAndSkills.text %></p>
          <ul>
            <% for (let point of careerPage.educationAndSkills.points) { %>
            <li><strong><%= point.title %>:</strong> <%= point.text %></li>
            <% } %>
          </ul>
        </div>
        <div class="col-lg-6 col-xl-4 d-flex flex-column">
          <img
            class="m-0 img-fluid"
            src="<%= careerPage.educationAndSkills.image.url %>"
            alt=""
          />
          <p class="img-subtitle m-0 mw-100">
            <%= careerPage.educationAndSkills.image.subtitle %>
          </p>
        </div>
      </div>
    </section>
    <section>
      <h2>Oportunidades de Carreira</h2>
      <p><%= careerPage.careerOpportunities.text %></p>
    </section>
    <section>
      <h2>Tendências Futuras</h2>
      <p><%= careerPage.futureTendencies.text %></p>
    </section>
    <section>
      <h2>Desafios e Recompensas</h2>
      <p><%= careerPage.challengesAndRewards.text %></p>
      <div class="d-flex flex-column align-items-center">
        <img
          class="col-lg-6"
          src="<%= careerPage.challengesAndRewards.image.url %>"
          alt=""
        />
        <p class="img-subtitle col-lg-6">
          <%= careerPage.challengesAndRewards.image.subtitle %>
        </p>
      </div>
    </section>
    <section>
      <h2>Conclusão</h2>
      <p><%= careerPage.conclusion.text %></p>
    </section>
    <div class="text-center">
      <a href="/carreiras" class="btn btn-primary"
        ><i class="bi bi-suitcase-lg me-2"></i>Carreiras</a
      >
      <% if (careerPages.length > 1) { %>
      <a href="/carreiras/<%= careerName %>" class="btn btn-secondary ms-2"
        ><i class="bi bi-list-ul me-2"></i>Páginas</a
      >
      <% } %>

      <!-- make visible only to admin -->
      <a href="<%= currentUrl %>/editar" class="btn btn-warning ms-2"
        ><i class="bi bi-pencil me-2"></i>Editar*</a
      >
      <a
        href="/carreiras/<%= careerName %>/nova-pagina"
        class="btn btn-success ms-2"
        ><i class="bi bi-plus-circle me-2"></i>Nova página*</a
      >
    </div>
  </article>
</main>
